@import "bootstrap.min.css";

body {
	/* background-color: #dfdfdf; */
	margin-top: 40px;
	font-size: 13px;
	line-height: 20px;
	overflow-y: scroll;
}

.open {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-right: 10px;
	margin-top: 3px;
}

.open:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.icon-hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.p-hover:hover {
	cursor: pointer;
}

.input-xmini {
	width: 50px;
}

.input-xsmall {
	width: 70px;
}

.input-xmedium {
	width: 110px;
}

.navbar .nav > li > a {
	padding: 10px;
}

.navbar .nav > li > a:hover {
	color: #0088CC;
}

li {
	line-height: 22px;
}

form {
	margin: 0;
}

.table,
input[type="text"] {
	margin-bottom: 0;
}

div.hidden {
	display: none;
}

p small {
	font-size: 15px;
	font-weight: normal;
	line-height: 1;
	color: #999999;
}

.icon-margin {
	margin-top: 6px;
}

#total {
	float: right;
	margin-top: 6px;
}

#count-all,
#area-all,
#cost-all {
	margin-top: 2px;
	margin-left: 13.5px;
}

.target-print {
	margin-top: 20px;
	float: right;
}

.target-setting,
.target-print {
	margin-top: 20px;
	float: right;
}

.target-setting:hover,
.target-print:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: #57a4ca;
}

.close {
	margin-top: 5px;
}

.withm {
	margin-top: 2px;
}

.lead {
	font-size: 19px;
}

h1 {
	font-size: 21px;
}

h2 {
	font-size: 15px;
}

h6 {
	font-size: 13px;
}

.p-inline {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	vertical-align: middle;
	*zoom: 1;
}

.small {
	color: #999999;
}

.label {
	line-height: 18px;
}

.xlabel {
	background-color: #555555;
}

#settings {
	padding: 7px 19px;
	width: 340px;
	position: relative;
}

.left {
	float: left;
	margin-right: 45px;
}

.right {
	float: right;
}

.radio {
	color: #777777;
	cursor: pointer;
}

.uneditable-input {
	cursor: default;
	text-align: right;
	color: #555555;
	background-color: #eeeeee;
	margin-bottom: 0;
}

p {
  margin: 0 0 15px;
}

.img1 {
	margin: 0 15px 0 0;
	float: left;
}

.img2 {
	margin: 0 0 15px;
}

.img3 {
	margin: 0 0 15px;
	float: left;
}

.img4 {
    margin: 0 1px 5px 0px;
}

.table thead tr.info th {
  background-color: #d9edf7;
}

.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.table thead th {
  vertical-align: middle;
}

.last {
	margin-bottom: 15px;
}

.mleft {
	margin-left: 20px;
}

ul, ol {
	margin: 0 0 10px 35px;
}

.title {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #666666;
}